body {
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
}
nav {
  padding-top: 0.7rem;
}

.sidebar {
  background-color: #252629;
  color: white;
  height: 100vh;
  padding: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 8rem;
  height: 7rem;
  object-fit: contain;
}
.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}
/* Bookings starts */

/* header starts */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header-container-left span {
  color: #fff;
  font-size: 15px;
}
.header-container-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.room-search::placeholder {
  color: white;
  padding-left: 15px;
}
.room-search {
  width: 350px;
  color: #fff;
  background-color: rgba(212, 157, 68, 0.46);
  border: none;
  border-radius: 20px;
  padding: 0.3rem;
}
.header-container-right div {
  background-color: white;
  color: black;
  padding: 0.3rem 0.34rem;
  border-radius: 50%;
}
.notification {
  font-size: 24px;
  color: white;
}
/* header ends */
.bookings-container {
  display: flex;
  gap: 0.5rem;
}
.bookings-container-left {
  flex: 2.2;
}
.analytics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.5rem;
}
.icon-bed {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.analytics-row {
  position: relative;
  padding: 1rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.analytics-row h4 {
  font-size: 24px;
  color: white;
  padding-top: 15px;
}
.analytics-row span {
  color: rgb(110, 110, 110);
  font-size: 13px;
}

.bookings-container-right {
  background-color: rgba(0, 0, 0, 0.3);
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
}
/* Upcoming booking starts */
.guest-table {
  width: 100%;
  border-collapse: collapse;
}

.guest-table th,
.guest-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #d8d7d7;
}
.dash-title {
  padding: 0.5rem 0;
  color: #fff;
}
.guest-table th {
  background-color: rgba(0, 0, 0, 0.21);
  font-weight: bold;
}

.guest-table button {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.icon-success,
.icon-error {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

/* Upcoming booking ends */
/* Dashboard end */

/*  Notificaion starts*/
.notifcation-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.notifcation-header p {
  color: #fff;
}
.main-notificaions {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 10px;
}
.main-notificaions div p {
  font-size: 15px;
  color: #e9e7e7;
}

.main-notificaions div span {
  font-size: 10px;
  color: #bbb9b9;
}
.noti {
  font-size: 23px;
  padding-top: 5px;
}
.notification-center {
  margin-bottom: 5rem;
}
.title-text {
  color: #fff;
  margin-bottom: 10px;
}

/* Room management */
.filter-links {
  display: flex;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 20px;
}

.filter-links a {
  text-decoration: none;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s;
}

.filter-links .active {
  color: white;
}
.room-status {
  display: flex;
  justify-content: space-between;
}

/* search bar */
