.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Add vertical space between rows */
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  color: #eeeeee;
}

.table th {
  padding-bottom: 12px; /* Add space below the headers */
}
.table tr th {
  background-color: rgba(0, 0, 0, 0.15);
}
