.hotelRoomContainer {
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
}
.hotelRoomRightCol form input {
  border: 1px solid gray;
}
.submitBtn {
  background-color: rgb(47, 47, 250);
  color: white;
}
.hotelRoomRightCol form h1 {
  padding-bottom: 1rem;
  color: rgb(49, 37, 37);
}
.hotelRoomLeftCol {
  position: relative;
  flex: 1;
  flex-basis: 100rem;
}
.hotelRoomRightCol {
  flex: 1;
  flex-basis: 50rem;
}
.hotelRoomLeftCol img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.hotelRoomRightCol form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gray;
  justify-content: center;
  padding: 3rem;
}
.hotelRoomRightCol div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotelRoomRightCol div button {
  margin-top: 1rem;
  width: 10rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.prevBtn,
.nextBtn {
  position: absolute;
  top: 40%;
  padding: 0.6rem;
  font-size: 1rem;
}
.nextBtn {
  right: 0;
}
.prevBtn {
  left: 0;
}
.hotelRoomLeftCol div h1 {
  padding-top: 1rem;
}
.hotelRoomLeftCol div p span {
  color: rgb(148, 137, 137);
  font-size: 13px;
  font-weight: lighter;
}
.hotelRoomLeftCol div p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 1rem;
}

@media (max-width: 920px) {
  .hotelRoomContainer {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .hotelRoomRightCol form h1 {
    font-size: 25px;
  }
}
