.contactusContainer {
  padding: 2rem 4rem;
  background: whitesmoke; /* Darker background for footer */
  display: flex; /* Use flexbox to arrange content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  gap: 30rem; /* Gap between contact info and social media icons */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.contactInfo,
.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between contact info items */
  color: #ccc; /* Light color for text */
  text-align: center; /* Center align text */
}

.contactInfo h1,
.socialMedia h1 {
  margin-bottom: 1rem;
  font-size: 28px;
  color: #af8c53; /* Brand color */
}

.infoItem {
  color: black; /* Light color for text */
}

.icons {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  gap: 1.5rem; /* Space between icons */
}

.icon {
  color: #af8c53; /* Softer color for icons */
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.icon:hover {
  transform: translateY(-5px); /* Hover effect for icons */
}

@media (max-width: 800px) {
  .contactusContainer {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align content */
    padding: 2rem; /* Adjust padding for smaller screens */
    gap: 2rem; /* Adjust gap for smaller screens */
  }

  .contactInfo,
  .socialMedia {
    width: 100%; /* Full width on smaller screens */
    text-align: center; /* Center align text */
  }

  .icons {
    justify-content: center; /* Center icons */
    margin-top: 1rem; /* Space above icons */
  }
}
