body {
  background-color: #252629;
}

.content {
  background-color: #252629;
  transition: padding-left 0.3s ease;
}

.contentOpen {
  padding-left: 170px;
}

.contentClosed {
  padding-left: 95px;
}
