/* reserv.module.css */
.dashboardContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f9;
  padding-top: 5rem;
}

.sidebar {
  width: 250px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.navButton {
  width: 80%;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navButton:hover,
.activeButton {
  background-color: #555;
}

.contentArea {
  background: radial-gradient(
    circle,
    rgba(251, 250, 247, 1) 0%,
    rgba(180, 199, 200, 1) 84%
  );
  flex-grow: 1;
  padding: 2rem;
}

.reservationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.payButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.payButton:hover {
  background-color: #218838;
}

.payButton:active {
  background-color: #1e7e34;
}

.checkoutContainer {
  margin-top: 20px; /* Add margin to ensure it is spaced properly */
}

.error {
  color: red;
  font-size: 1.2rem;
  margin: 1rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 900px;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 50%;
}

.accountForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.accountForm label {
  display: flex;
  flex-direction: column;
}

.accountForm input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.saveButton {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.saveButton:hover {
  background-color: #0056b3;
}

.saveButton:active {
  background-color: #004094;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
}
