/* Hero Section starts */
.hero-booking {
  position: relative;
  height: 100vh;
  width: 100%;
}

.relative img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-booking .hero-text-center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero-booking .hero-text-center .text-xl {
  font-size: 1.25rem;
  color: #af8c53;
  padding-top: 0.25rem;
}

.hero-booking .hero-text-center .text-xl span {
  margin: 0;
}

.hero-booking .location-info {
  position: absolute;
  bottom: 16%;
  left: 2%;
}

.hero-booking .location-info .text-xl {
  font-size: 1.25rem;
  color: #af8c53;
}

.hero-booking .location-info .large-text {
  color: #af8c53;
  margin: 0;
  display: block;
  font-size: 4rem;
}

.hero-booking .location-info .large-text.sm {
  font-size: 6rem;
}

.hero-booking .location-info .large-text.md {
  font-size: 9rem;
}

.hero-booking .book-now {
  position: absolute;
  bottom: 7rem;
  right: 2.5rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}
/* Hero Section ends */

/* Video section starts */
.video-container {
  width: 100%;
  height: 90vh;
  padding: 2.5rem;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video section ends */

/* Room suits starts */

.property-card {
  width: 100%;
  cursor: pointer;
}
.hot-deals-section {
  background-color: #20252d;
}
.property-card img {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.property-card hr {
  border: 1px solid #af8c53;
}

.property-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hot-deals-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hot-deals-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.hot-deals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.4rem;
  padding: 1rem 4rem;
}

/* Room suits ends */
/* Happy clients starts */
.testimonial-section {
  background-color: #20252d;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.testimonial-content {
  padding: 2rem;
}

.testimonial-title {
  color: #af8c53;
  font-size: 3rem;
}

.testimonial-title.md {
  font-size: 6rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  padding-top: 5rem;
}

.testimonial-item {
  border: 1px solid #8f8989;
  padding: 1.5rem;
}

.testimonial-quote {
  color: #af8c53;
}

.testimonial-author {
  color: #fff;
}
/* Happy clients ends */

/* Footer section starts */

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 2.5rem 5rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 1.5rem;
}

.footer-content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-social {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Footer section ends */
